# --- Данные ---
# Игнорируем все CSV и NPY файлы, так как они тяжелые и содержат данные
data/*.csv
data/*.npy
!data/.gitkeep

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# --- IDE ---
.vscode/
.idea/
*.swp

# --- Логи ---
*.log
